{% extends 'blogs/chinh.html' %}

{% block contentmenu %}
    {% if danhsachmenu %}
        {% for item in danhsachmenu %}
            <li><a href="/theloai/{{ item.id }}">{{ item.tentheloai }}</a></li>
        {% endfor %}
    {% endif %}

{% endblock %}

{% block contentbaiviet %}
    {% if danhsachbaiviet %}
        {% for item in danhsachbaiviet %}
            <a href="/baiviet/{{ item.id }}" class="baiviet">
            <p>
                <img src="media/{{ item.hinh }}">
                <div class="tieude"><h3>{{ item.tenbaiviet }}</h3>
                    <div class="thoigian">{{ item.ngay|date:"d-m-Y" }}</div>
                </div>
            </p>
            </a>
        {% endfor %}
    {% endif %}
{% endblock %}